.appgrid{
    display: grid;
    grid-template-rows: 180px 50px auto 260px;
    grid-gap:5px;
}
.containersports{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.homeseperation{
    margin-top: 0px;
    margin-bottom: 0px;
}
/* .appbackground{
    background-color: black;
} */
