/* .tenniscontainer{
    display: flex;
    } */
 
    .itemssimg{
        height: 400px;
    }
    /* .innercontainer{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-gap:1em;
        margin: 0 auto;
    } */
    .itemss{
        width : 100%;
        height: 400px;
    }
   